<div class="container">
    <h1>Welcome [first_name]</h1>
    <div class="my-list">
        <h2>My List</h2>
        <app-album-widget></app-album-widget>
    </div>

    <div class="my-ratings">
        <h2>My Ratings</h2>
        <app-album-widget></app-album-widget>
    </div>

    <div class="recommended">
        <h2>Discover</h2>
        <app-album-widget></app-album-widget>
        <app-album-widget></app-album-widget>
        <app-album-widget></app-album-widget>
        <app-album-widget></app-album-widget>
        <app-album-widget></app-album-widget>
    </div>
</div>