<!-- Nav tab -->
<nav>
    <h1>usic</h1>
    <a routerLink="/account">Account</a>
  </nav>
  
  <!-- Side bar -->
  <body>
    <aside class="sidebar">
      <nav class="sidebar">
        <ul>
          <li><a routerLink="/">HOME</a></li>
          <li><a routerLink="/my-list">MY LIST</a></li>
          <li><a routerLink="/my-ratings">MY RATINGS</a></li>
          <li><a routerLink="/discover">DISCOVER</a></li>
          <li><a routerLink="/stats">STATS</a></li>
        </ul>
      </nav>
    </aside>
  
    <router-outlet></router-outlet>
  </body>
